@model PeopleViewModel
@using Core.Models.Exercise
@using Data.Entities.User
@using Lib.Pages.Shared.Exercise


<h5 class="mb-1">People</h5>
<div class="alert alert-light shadow">
    @if (Model.PreviousMood?.Date == DateHelpers.Today)
    {
        await Html.RenderPartialAsync("_RadarChart", new RadarChartViewModel()
        {
            XysGrouped = Model.XysGrouped,
            User = Model.User,
            Token = Model.Token,
            Type = Components.People
        });
    }
    else
    {
    <details>
        <summary>
            @{
                await Html.RenderPartialAsync("_RadarChart", new RadarChartViewModel()
            {
                XysGrouped = Model.XysGrouped,
                User = Model.User,
                Token = Model.Token,
                Type = Components.People
            });
            }
        </summary>

        <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.ManagePeople)" method="post"
                asp-route-email="@Model.User.Email" asp-route-token="@Model.Token">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3 mt-3">
                @for (var i = 0; i < Model.Customs.Count; i++)
                {
                    <div class="form-check">
                        <input class="allow-demo" type="hidden" asp-for="@Model.Customs[i].Id" />
                        <input class="allow-demo" type="hidden" asp-for="@Model.Customs[i].Name" />
                        <input id="@Html.IdFor(_ => Model.Customs[i].Selected)-people" asp-for="@Model.Customs[i].Selected" class="form-check-input allow-demo" type="checkbox">
                        <label for="@Html.IdFor(_ => Model.Customs[i].Selected)-people" class="form-check-label">
                            @Model.Customs[i].Name
                        </label>
                    </div>
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary allow-demo" />
            </div>
        </form>
    </details>
    }
</div>

