@model Web.Views.Shared.Components.UpsertRecipe.UpsertRecipeViewModel
@using Core.Models.User
@using Web.Code.Extensions

<div class="alert alert-light shadow mb-3" role="alert">
    <form id="recipe-form" asp-controller="@UserController.Name" asp-action="@nameof(UserController.UpsertRecipe)" asp-route-email="@Model.User.Email" asp-route-token="@Model.Token" method="post">
        <input asp-for="Recipe.Id" type="hidden" class="form-control" />

        <div class="form-group mb-3">
            <label asp-for="Recipe.Name" class="control-label">Name</label>
            <input asp-for="Recipe.Name" type="text" class="form-control" required="required" />
        </div>
        <div class="form-group mb-3">
            <label asp-for="Recipe.Notes" class="control-label">Notes</label>
            <input asp-for="Recipe.Notes" type="text" class="form-control" />
        </div>

        <div class="form-group mb-3">
            <label asp-for="Recipe.SectionBinder" class="control-label">@Html.DisplayNameFor(_ => Model.Recipe.Section)</label>
            <select asp-for="Recipe.SectionBinder" class="form-control overflow-auto" aria-describedby="verbosity-help" size="5"
                    asp-items="@(EnumExtensions.GetSingleValues32<Section>().AsSelectListItems32(EnumViewExtensions.EnumOrdering.Text))">
            </select>
            <span asp-validation-for="Recipe.SectionBinder" class="text-danger"></span>
            <div id="verbosity-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.Recipe.Section)</div>
        </div>

        <div class="form-group form-check mb-3">
            <label asp-for="Recipe.Enabled" class="control-label">@Html.DisplayNameFor(_ => Model.Recipe.Enabled)</label>
            <input class="form-check-input" asp-for="Recipe.Enabled" aria-describedby="disabled-help" />
            <span asp-validation-for="Recipe.Enabled" class="text-danger"></span>
            <div id="disabled-help" class="form-text">
                @Html.DisplayDescriptionFor(_ => Model.Recipe.Enabled)
                @if (!String.IsNullOrWhiteSpace(Model.Recipe.DisabledReason))
                {
                    <div><b>Disabled Reason</b> - @Model.Recipe.DisabledReason</div>
                }
            </div>
        </div>
    </form>

    <div class="row form-group justify-content-end gy-2">
        <div class="col">
            <input type="submit" value="Save" class="btn btn-secondary" form="recipe-form" />
        </div>
        @if (Model.Recipe.Id != default)
        {
            <div class="col-auto">
                <form id="delete-form" asp-controller="@UserController.Name" asp-action="@nameof(UserController.RemoveRecipe)" asp-route-email="@Model.User.Email" asp-route-token="@Model.Token" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" name="RecipeId" asp-for="@Model.Recipe.Id" />

                    <input type="submit" value="Delete" class="btn btn-outline-danger" form="delete-form" />
                </form>
            </div>
        }
    </div>
</div>
