@model DepressionSeverityViewModel
@using Core.Models.Exercise
@using Data.Entities.User
@using Lib.Pages.Shared.Exercise


@{
    bool show = Model.PreviousMood == null || Model.PreviousMood.Date < Core.Dates.Today.AddDays(-7);
}

<h5>APA DSM-5 TR Severity Measure for Depression—Adult*</h5>
<h6 class="mb-1">*Adapted from the Patient Health Questionnaire–9 (PHQ-9)</h6>
<div class="alert alert-light shadow">
    @if (!show) 
    {
        await Html.RenderPartialAsync("_ScoreChart", new Web.ViewModels.Shared.ScoreChartViewModel()
        {
            Scores = Model.Xys,
            User = Model.User,
            Token = Model.Token,
            Type = Components.DepressionSeverity
        });
    }
    else
    {
        <details>
            <summary>
                @{
                    await Html.RenderPartialAsync("_ScoreChart", new Web.ViewModels.Shared.ScoreChartViewModel()
                    {
                        Scores = Model.Xys,
                        User = Model.User,
                        Token = Model.Token,
                        Type = Components.DepressionSeverity
                    });
                }
            </summary>

            <p>
                Instructions: Over the last 7 days, how often have you been bothered by any of the following problems? (Use “” to indicate
                your answer)
            </p>

            <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.ManageDepressionSeverity)" method="post"
                  asp-route-email="@Model.User.Email" asp-route-token="@Model.Token"
                  style="min-height:21ch;">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.NoInterest)</label>
                    <div><span asp-validation-for="UserMood.NoInterest" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.NoInterest))" type="hidden" asp-for="UserMood.NoInterest" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.NoInterest))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.NoInterest))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.NoInterest))-input"
                                   min="-1" max="3" step="1" value="@(Model.UserMood.NoInterest ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.NoInterest)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>


                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoInterest))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoInterest))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoInterest))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoInterest))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(25% - .5ch)">Not at all</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoInterest))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoInterest))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(50% - .5ch)">Several days</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoInterest))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoInterest))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(75% - .5ch)">More than half the days</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoInterest))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoInterest))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(100% - .5ch)">Nearly Every Day</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.NoInterest))-help" class="form-text"></div>
                </div>

                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.Hopeless)</label>
                    <div><span asp-validation-for="UserMood.Hopeless" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.Hopeless))" type="hidden" asp-for="UserMood.Hopeless" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.Hopeless))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.Hopeless))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.Hopeless))-input"
                                   min="-1" max="3" step="1" value="@(Model.UserMood.Hopeless ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.Hopeless)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>


                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Hopeless))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.Hopeless))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Hopeless))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Hopeless))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(25% - .5ch)">Not at all</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Hopeless))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Hopeless))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(50% - .5ch)">Several days</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Hopeless))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Hopeless))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(75% - .5ch)">More than half the days</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Hopeless))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Hopeless))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(100% - .5ch)">Nearly Every Day</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.Hopeless))-help" class="form-text"></div>
                </div>



                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.Sleeping)</label>
                    <div><span asp-validation-for="UserMood.Sleeping" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.Sleeping))" type="hidden" asp-for="UserMood.Sleeping" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.Sleeping))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.Sleeping))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.Sleeping))-input"
                                   min="-1" max="3" step="1" value="@(Model.UserMood.Sleeping ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.Sleeping)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>


                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Sleeping))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.Sleeping))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Sleeping))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Sleeping))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(25% - .5ch)">Not at all</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Sleeping))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Sleeping))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(50% - .5ch)">Several days</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Sleeping))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Sleeping))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(75% - .5ch)">More than half the days</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Sleeping))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Sleeping))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(100% - .5ch)">Nearly Every Day</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.Sleeping))-help" class="form-text"></div>
                </div>



                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.NoEnergy)</label>
                    <div><span asp-validation-for="UserMood.NoEnergy" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.NoEnergy))" type="hidden" asp-for="UserMood.NoEnergy" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.NoEnergy))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.NoEnergy))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.NoEnergy))-input"
                                   min="-1" max="3" step="1" value="@(Model.UserMood.NoEnergy ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.NoEnergy)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>


                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoEnergy))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoEnergy))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoEnergy))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoEnergy))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(25% - .5ch)">Not at all</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoEnergy))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoEnergy))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(50% - .5ch)">Several days</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoEnergy))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoEnergy))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(75% - .5ch)">More than half the days</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoEnergy))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoEnergy))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(100% - .5ch)">Nearly Every Day</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.NoEnergy))-help" class="form-text"></div>
                </div>



                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.Eating)</label>
                    <div><span asp-validation-for="UserMood.Eating" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.Eating))" type="hidden" asp-for="UserMood.Eating" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.Eating))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.Eating))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.Eating))-input"
                                   min="-1" max="3" step="1" value="@(Model.UserMood.Eating ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.Eating)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>


                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Eating))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.Eating))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Eating))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Eating))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(25% - .5ch)">Not at all</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Eating))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Eating))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(50% - .5ch)">Several days</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Eating))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Eating))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(75% - .5ch)">More than half the days</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Eating))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Eating))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(100% - .5ch)">Nearly Every Day</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.Eating))-help" class="form-text"></div>
                </div>



                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.FeelingBad)</label>
                    <div><span asp-validation-for="UserMood.FeelingBad" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.FeelingBad))" type="hidden" asp-for="UserMood.FeelingBad" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.FeelingBad))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.FeelingBad))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.FeelingBad))-input"
                                   min="-1" max="3" step="1" value="@(Model.UserMood.FeelingBad ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.FeelingBad)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>


                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.FeelingBad))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.FeelingBad))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.FeelingBad))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.FeelingBad))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(25% - .5ch)">Not at all</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.FeelingBad))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.FeelingBad))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(50% - .5ch)">Several days</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.FeelingBad))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.FeelingBad))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(75% - .5ch)">More than half the days</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.FeelingBad))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.FeelingBad))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(100% - .5ch)">Nearly Every Day</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.FeelingBad))-help" class="form-text"></div>
                </div>



                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.NoConcentration)</label>
                    <div><span asp-validation-for="UserMood.NoConcentration" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.NoConcentration))" type="hidden" asp-for="UserMood.NoConcentration" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.NoConcentration))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.NoConcentration))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.NoConcentration))-input"
                                   min="-1" max="3" step="1" value="@(Model.UserMood.NoConcentration ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.NoConcentration)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>


                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoConcentration))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoConcentration))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoConcentration))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoConcentration))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(25% - .5ch)">Not at all</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoConcentration))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoConcentration))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(50% - .5ch)">Several days</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoConcentration))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoConcentration))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(75% - .5ch)">More than half the days</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoConcentration))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.NoConcentration))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(100% - .5ch)">Nearly Every Day</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.NoConcentration))-help" class="form-text"></div>
                </div>


                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.Slowly)</label>
                    <div><span asp-validation-for="UserMood.Slowly" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.Slowly))" type="hidden" asp-for="UserMood.Slowly" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.Slowly))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.Slowly))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.Slowly))-input"
                                   min="-1" max="3" step="1" value="@(Model.UserMood.Slowly ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.Slowly)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>


                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Slowly))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.Slowly))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Slowly))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Slowly))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(25% - .5ch)">Not at all</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Slowly))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Slowly))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(50% - .5ch)">Several days</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Slowly))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Slowly))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(75% - .5ch)">More than half the days</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Slowly))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Slowly))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(100% - .5ch)">Nearly Every Day</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.Slowly))-help" class="form-text"></div>
                </div>

                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.BetterOffDead)</label>
                    <div><span asp-validation-for="UserMood.BetterOffDead" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.BetterOffDead))" type="hidden" asp-for="UserMood.BetterOffDead" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.BetterOffDead))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.BetterOffDead))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.BetterOffDead))-input"
                                   min="-1" max="3" step="1" value="@(Model.UserMood.BetterOffDead ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.BetterOffDead)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>


                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.BetterOffDead))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.BetterOffDead))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.BetterOffDead))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.BetterOffDead))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(25% - .5ch)">Not at all</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.BetterOffDead))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.BetterOffDead))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(50% - .5ch)">Several days</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.BetterOffDead))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.BetterOffDead))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(75% - .5ch)">More than half the days</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.BetterOffDead))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.BetterOffDead))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(100% - .5ch)">Nearly Every Day</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.BetterOffDead))-help" class="form-text"></div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary allow-demo" />
                </div>
            </form>
        </details>
    }
</div>
