@model LinkFeastsViewModel

<div>
    <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.EditFeast)" method="post"
          asp-route-email="@Model.Email" asp-route-token="@Model.Token"
          class="alert alert-secondary">

        <div class="mb-3 row">
            <div class="col-6">
                <label asp-for="FeastEmail" class="control-label">@Html.DisplayNameFor(_ => Model.FeastEmail)</label>
                <input asp-for="FeastEmail" class="form-control" type="email" aria-describedby="refresh-functional-help" />
                <span asp-validation-for="FeastEmail" class="text-danger"></span>
                <div id="refresh-functional-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.FeastEmail)</div>
            </div>
            <div class="col-6">
                <label asp-for="FeastToken" class="control-label">@Html.DisplayNameFor(_ => Model.FeastToken)</label>
                <input asp-for="FeastToken" class="form-control" type="password" aria-describedby="refresh-functional-help2" />
                <span asp-validation-for="FeastToken" class="text-danger"></span>
                <div id="refresh-functional-help2" class="form-text">@Html.DisplayDescriptionFor(_ => Model.FeastToken)</div>
            </div>
        </div>

        <div class="row ">
            <div class="col">
                <input type="submit" value="Save" class="btn btn-secondary" />
            </div>
        </div>
    </form>
</div>