@page "/"
@inject AppState AppState
@inject DisplayHelper DH
@inject NewsletterService NewsletterService
@inject IOptions<SiteSettings> SiteSettings
@inject NavigationManager Navigation
@using Core.Models.Exercise
@using Core.Models.Newsletter
@using Core.Models.Footnote
@using Core.Models.Options
@using Core.Models.User
@using Microsoft.Extensions.Options
@using Shared.Exercise

@if (Error != null)
{
    <div>@Error</div>
}
else if (Model == null)
{
    <div>Loading...</div>
}
else
{
    var isDebugWorkout = Model.User.Features.HasFlag(Features.Debug);

    <Lib.Pages.Shared.Newsletter._Preview Model='@($"How was your day?")' />

    <div style="margin-bottom:1rem;">
        <h6 style="margin-block:0;"><a target="_blank" href="@DH.NewsletterLink(Model.User, Model.Today)">@Model.Today.ToLongDateString()</a></h6>
        <h1 style="margin-block:0;">Daily Mood</h1>
        <h4 style="margin-block:0;display:inline-block;">Something</h4>
        <small> - Nothing</small>
    </div>

    <Lib.Pages.Shared.Newsletter._UserStatusMessages User="Model.User" />

    <Lib.Pages.Shared.Newsletter.Footnote User="Model.User" Verbosity="Model.Verbosity" Type="Shared.Newsletter.Footnote.FootnoteComponentType.User" Count="Model.User.FootnoteCountTop" />
    
    <div style="margin-block:1rem;">
        @foreach (var section in Enum.GetValues<Section>().OrderBy(s => s.GetDisplayName32(DisplayType.Order).Length).ThenBy(s => s.GetDisplayName32(DisplayType.Order)))
        {
            <Lib.Pages.Shared.Exercise.TaskSection User="Model.User" Verbosity="Model.Verbosity" Tasks="Model.Tasks.Where(t => t.Section == section).ToList()" Theme="section.AsTheme()" Title="@(new TaskSection.Titles(section.GetSingleDisplayName()))" />
        }

        <Lib.Pages.Shared.Exercise.ExerciseSection User="Model.User" Verbosity="Model.Verbosity" Images="Model.Images" Theme="ExerciseTheme.None" Title="@(new ExerciseSection.Titles("Moods"))" />
    </div>

    <Lib.Pages.Shared.Newsletter.Footnote User="Model.User" Verbosity="Model.Verbosity" Type="Shared.Newsletter.Footnote.FootnoteComponentType.System" Count="Model.User.FootnoteCountBottom" />

    @if (!Model.HideFooter)
    {
        <hr style="margin-block:1ex;">

        <Lib.Pages.Shared.Newsletter._Footer User="Model.User" />
    }
}

@code {
    [Parameter]
    public Core.Dtos.Newsletter.NewsletterDto? Model { get; set; }

    public MarkupString? Error { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Model == null)
        {
            var apiResult = await NewsletterService.Newsletter(AppState.Email, AppState.Token, AppState.Date);
            (Model, Error) = (apiResult.StatusCode, apiResult.Result) switch
            {
                (StatusCodeRange.Successful, not null) => (apiResult.Result, (MarkupString?)null),
                (StatusCodeRange.Successful, null) => (null, new MarkupString("Enjoy your rest day!")),
                (StatusCodeRange.ClientError, _) => (null, new MarkupString("Invalid credentials.")),
                (_, _) => (null, new MarkupString($"Request failed. Check for an updated app version <a href='{SiteSettings.Value.Source}/releases'>here</a>.")),
            };
        }
    }
}