@model RadarChartViewModel
@using Web.ViewModels.Shared

<div style="height:min(70vw, @(RadarChartViewModel.Height)px)">
    <canvas id="@Model.Id"></canvas>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script type="module">
    const canvas = document.getElementById('@Model.Id');
    if (canvas) {
        Chart.defaults.font.size = 16;
        const chart = new Chart(canvas, {
            type: 'radar',
            data: {
                labels: @Json.Serialize(Model.Labels),
                datasets: [
                    {
                        label: 'This Month',
                        data: @Json.Serialize(Model.ThisMonth),
                        fill: false,
                        spanGaps: true,
                        showLine: true,
                        borderColor: 'skyblue',
                        backgroundColor: 'skyblue',
                    },
                    {
                        label: 'Last Month',
                        data: @Json.Serialize(Model.LastMonth),
                        fill: false,
                        spanGaps: true,
                        showLine: true,
                        borderColor: 'red',
                        backgroundColor: 'red',
                    },
                ],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                elements: {
                    line: {

                    },
                    point: {
                        // Increase the radius around the point when the tooltip shows
                        hitRadius: 5,
                        // Increase the size of the point when the user is withing the bounds of the hitRadius
                        hoverRadius: 5,
                    },
                },
                scales: {
                    r: {
                        beginAtZero: true,
                        ticks: {
                            display: true,
                            color: 'skyblue',
                            backdropColor: 'rgba(255, 255, 255, 0.25)',
                            // No decimal places
                            precision: 0,
                        },
                        pointLabels: {
                            font: {
                                size: 14
                            }
                        }
                    }
                },
                plugins: {
                    legend: {
                        // Don't show the graph legend
                        display: true,
                    },
                    tooltip: {
                        callbacks: {
                            //title: (context) => {
                            // Pretty-print the x-axis date in the hover tooltip
                            //return context.map(c => new Date(c.parsed.x).toDateString());
                            //},
                        },
                    },
                    /*
                    decimation: {
                        enabled: true,
                        algorithm: 'lttb',
                        samples: 12,
                    },
                    decimation: {
                        enabled: true,
                        algorithm: 'min-max',
                    },
                    */
                },
            }
        });

        window.uploadChart(chart, 350, 350, '@Html.Raw(Model.User.Email)', '@Html.Raw(Model.Token)', '@Model.Type');
    }
</script>
