@model GutProbioticsViewModel
@using Core.Models.Components
@using Data.Entities.Users

@{
    bool show = Model.PreviousMood == null || Model.PreviousMood.Date < DateHelpers.Today.AddMonths(-1);
}

    <div class="row gy-4">
        @if (show)
        {
            <div class="col-lg-6">
                <h5 class="mb-1">Gut Probiotics</h5>
                <div class="alert alert-light shadow">
                    <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.ManageGutProbiotics)" method="post"
                          asp-route-email="@Model.User.Email" asp-route-token="@Model.Token">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.BacillusCoagulans)</label>
                            <div><span asp-validation-for="UserMood.BacillusCoagulans" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.BacillusCoagulans))" asp-for="UserMood.BacillusCoagulans" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.BacillusCoagulans))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.BacillusCoagulans))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.BacillusCoagulans))Input" list="hashmarks" value="@(Model.UserMood.BacillusCoagulans ?? -1)"
                                           min="@(UserGutProbiotics.Consts.BacillusCoagulansMin - UserGutProbiotics.Consts.BacillusCoagulansStep)" max="@UserGutProbiotics.Consts.BacillusCoagulansMax" step="@UserGutProbiotics.Consts.BacillusCoagulansStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.BacillusCoagulans)).value = this.valueAsNumber < @UserGutProbiotics.Consts.BacillusCoagulansMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.BacillusCoagulans))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.BacillusCoagulans)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.BifidobacteriumAnimalisSubspAnimalis)</label>
                            <div><span asp-validation-for="UserMood.BifidobacteriumAnimalisSubspAnimalis" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumAnimalisSubspAnimalis))" asp-for="UserMood.BifidobacteriumAnimalisSubspAnimalis" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumAnimalisSubspAnimalis))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumAnimalisSubspAnimalis))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumAnimalisSubspAnimalis))Input" list="hashmarks" value="@(Model.UserMood.BifidobacteriumAnimalisSubspAnimalis ?? -1)"
                                           min="@(UserGutProbiotics.Consts.BifidobacteriumAnimalisSubspAnimalisMin - UserGutProbiotics.Consts.BifidobacteriumAnimalisSubspAnimalisStep)" max="@UserGutProbiotics.Consts.BifidobacteriumAnimalisSubspAnimalisMax" step="@UserGutProbiotics.Consts.BifidobacteriumAnimalisSubspAnimalisStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumAnimalisSubspAnimalis)).value = this.valueAsNumber < @UserGutProbiotics.Consts.BifidobacteriumAnimalisSubspAnimalisMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumAnimalisSubspAnimalis))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.BifidobacteriumAnimalisSubspAnimalis)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.BifidobacteriumAnimalisSubspLactis)</label>
                            <div><span asp-validation-for="UserMood.BifidobacteriumAnimalisSubspLactis" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumAnimalisSubspLactis))" asp-for="UserMood.BifidobacteriumAnimalisSubspLactis" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumAnimalisSubspLactis))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumAnimalisSubspLactis))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumAnimalisSubspLactis))Input" list="hashmarks" value="@(Model.UserMood.BifidobacteriumAnimalisSubspLactis ?? -1)"
                                           min="@(UserGutProbiotics.Consts.BifidobacteriumAnimalisSubspLactisMin - UserGutProbiotics.Consts.BifidobacteriumAnimalisSubspLactisStep)" max="@UserGutProbiotics.Consts.BifidobacteriumAnimalisSubspLactisMax" step="@UserGutProbiotics.Consts.BifidobacteriumAnimalisSubspLactisStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumAnimalisSubspLactis)).value = this.valueAsNumber < @UserGutProbiotics.Consts.BifidobacteriumAnimalisSubspLactisMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumAnimalisSubspLactis))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.BifidobacteriumAnimalisSubspLactis)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.BifidobacteriumBifidum)</label>
                            <div><span asp-validation-for="UserMood.BifidobacteriumBifidum" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumBifidum))" asp-for="UserMood.BifidobacteriumBifidum" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumBifidum))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumBifidum))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumBifidum))Input" list="hashmarks" value="@(Model.UserMood.BifidobacteriumBifidum ?? -1)"
                                           min="@(UserGutProbiotics.Consts.BifidobacteriumBifidumMin - UserGutProbiotics.Consts.BifidobacteriumBifidumStep)" max="@UserGutProbiotics.Consts.BifidobacteriumBifidumMax" step="@UserGutProbiotics.Consts.BifidobacteriumBifidumStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumBifidum)).value = this.valueAsNumber < @UserGutProbiotics.Consts.BifidobacteriumBifidumMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumBifidum))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.BifidobacteriumBifidum)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.BifidobacteriumBreve)</label>
                            <div><span asp-validation-for="UserMood.BifidobacteriumBreve" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumBreve))" asp-for="UserMood.BifidobacteriumBreve" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumBreve))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumBreve))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumBreve))Input" list="hashmarks" value="@(Model.UserMood.BifidobacteriumBreve ?? -1)"
                                           min="@(UserGutProbiotics.Consts.BifidobacteriumBreveMin - UserGutProbiotics.Consts.BifidobacteriumBreveStep)" max="@UserGutProbiotics.Consts.BifidobacteriumBreveMax" step="@UserGutProbiotics.Consts.BifidobacteriumBreveStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumBreve)).value = this.valueAsNumber < @UserGutProbiotics.Consts.BifidobacteriumBreveMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumBreve))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.BifidobacteriumBreve)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.BifidobacteriumLongumSubspInfantis)</label>
                            <div><span asp-validation-for="UserMood.BifidobacteriumLongumSubspInfantis" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumLongumSubspInfantis))" asp-for="UserMood.BifidobacteriumLongumSubspInfantis" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumLongumSubspInfantis))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumLongumSubspInfantis))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumLongumSubspInfantis))Input" list="hashmarks" value="@(Model.UserMood.BifidobacteriumLongumSubspInfantis ?? -1)"
                                           min="@(UserGutProbiotics.Consts.BifidobacteriumLongumSubspInfantisMin - UserGutProbiotics.Consts.BifidobacteriumLongumSubspInfantisStep)" max="@UserGutProbiotics.Consts.BifidobacteriumLongumSubspInfantisMax" step="@UserGutProbiotics.Consts.BifidobacteriumLongumSubspInfantisStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumLongumSubspInfantis)).value = this.valueAsNumber < @UserGutProbiotics.Consts.BifidobacteriumLongumSubspInfantisMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumLongumSubspInfantis))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.BifidobacteriumLongumSubspInfantis)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.BifidobacteriumLongumSubspLongum)</label>
                            <div><span asp-validation-for="UserMood.BifidobacteriumLongumSubspLongum" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumLongumSubspLongum))" asp-for="UserMood.BifidobacteriumLongumSubspLongum" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumLongumSubspLongum))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumLongumSubspLongum))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumLongumSubspLongum))Input" list="hashmarks" value="@(Model.UserMood.BifidobacteriumLongumSubspLongum ?? -1)"
                                           min="@(UserGutProbiotics.Consts.BifidobacteriumLongumSubspLongumMin - UserGutProbiotics.Consts.BifidobacteriumLongumSubspLongumStep)" max="@UserGutProbiotics.Consts.BifidobacteriumLongumSubspLongumMax" step="@UserGutProbiotics.Consts.BifidobacteriumLongumSubspLongumStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumLongumSubspLongum)).value = this.valueAsNumber < @UserGutProbiotics.Consts.BifidobacteriumLongumSubspLongumMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.BifidobacteriumLongumSubspLongum))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.BifidobacteriumLongumSubspLongum)</div>
                        </div>




                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.LactobacillusAcidophilus)</label>
                            <div><span asp-validation-for="UserMood.LactobacillusAcidophilus" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusAcidophilus))" asp-for="UserMood.LactobacillusAcidophilus" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusAcidophilus))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusAcidophilus))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.LactobacillusAcidophilus))Input" list="hashmarks" value="@(Model.UserMood.LactobacillusAcidophilus ?? -1)"
                                           min="@(UserGutProbiotics.Consts.LactobacillusAcidophilusMin - UserGutProbiotics.Consts.LactobacillusAcidophilusStep)" max="@UserGutProbiotics.Consts.LactobacillusAcidophilusMax" step="@UserGutProbiotics.Consts.LactobacillusAcidophilusStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusAcidophilus)).value = this.valueAsNumber < @UserGutProbiotics.Consts.LactobacillusAcidophilusMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.LactobacillusAcidophilus))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.LactobacillusAcidophilus)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.LactobacillusBrevis)</label>
                            <div><span asp-validation-for="UserMood.LactobacillusBrevis" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusBrevis))" asp-for="UserMood.LactobacillusBrevis" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusBrevis))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusBrevis))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.LactobacillusBrevis))Input" list="hashmarks" value="@(Model.UserMood.LactobacillusBrevis ?? -1)"
                                           min="@(UserGutProbiotics.Consts.LactobacillusBrevisMin - UserGutProbiotics.Consts.LactobacillusBrevisStep)" max="@UserGutProbiotics.Consts.LactobacillusBrevisMax" step="@UserGutProbiotics.Consts.LactobacillusBrevisStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusBrevis)).value = this.valueAsNumber < @UserGutProbiotics.Consts.LactobacillusBrevisMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.LactobacillusBrevis))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.LactobacillusBrevis)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.LactobacillusCasei)</label>
                            <div><span asp-validation-for="UserMood.LactobacillusCasei" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusCasei))" asp-for="UserMood.LactobacillusCasei" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusCasei))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusCasei))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.LactobacillusCasei))Input" list="hashmarks" value="@(Model.UserMood.LactobacillusCasei ?? -1)"
                                           min="@(UserGutProbiotics.Consts.LactobacillusCaseiMin - UserGutProbiotics.Consts.LactobacillusCaseiStep)" max="@UserGutProbiotics.Consts.LactobacillusCaseiMax" step="@UserGutProbiotics.Consts.LactobacillusCaseiStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusCasei)).value = this.valueAsNumber < @UserGutProbiotics.Consts.LactobacillusCaseiMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.LactobacillusCasei))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.LactobacillusCasei)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.LactobacillusDelbrueckiiSubspBulgaricus)</label>
                            <div><span asp-validation-for="UserMood.LactobacillusDelbrueckiiSubspBulgaricus" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusDelbrueckiiSubspBulgaricus))" asp-for="UserMood.LactobacillusDelbrueckiiSubspBulgaricus" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusDelbrueckiiSubspBulgaricus))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusDelbrueckiiSubspBulgaricus))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.LactobacillusDelbrueckiiSubspBulgaricus))Input" list="hashmarks" value="@(Model.UserMood.LactobacillusDelbrueckiiSubspBulgaricus ?? -1)"
                                           min="@(UserGutProbiotics.Consts.LactobacillusDelbrueckiiSubspBulgaricusMin - UserGutProbiotics.Consts.LactobacillusDelbrueckiiSubspBulgaricusStep)" max="@UserGutProbiotics.Consts.LactobacillusDelbrueckiiSubspBulgaricusMax" step="@UserGutProbiotics.Consts.LactobacillusDelbrueckiiSubspBulgaricusStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusDelbrueckiiSubspBulgaricus)).value = this.valueAsNumber < @UserGutProbiotics.Consts.LactobacillusDelbrueckiiSubspBulgaricusMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.LactobacillusDelbrueckiiSubspBulgaricus))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.LactobacillusDelbrueckiiSubspBulgaricus)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.LactobacillusDelbrueckiiSubspDelbrueckii)</label>
                            <div><span asp-validation-for="UserMood.LactobacillusDelbrueckiiSubspDelbrueckii" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusDelbrueckiiSubspDelbrueckii))" asp-for="UserMood.LactobacillusDelbrueckiiSubspDelbrueckii" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusDelbrueckiiSubspDelbrueckii))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusDelbrueckiiSubspDelbrueckii))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.LactobacillusDelbrueckiiSubspDelbrueckii))Input" list="hashmarks" value="@(Model.UserMood.LactobacillusDelbrueckiiSubspDelbrueckii ?? -1)"
                                           min="@(UserGutProbiotics.Consts.LactobacillusDelbrueckiiSubspDelbrueckiiMin - UserGutProbiotics.Consts.LactobacillusDelbrueckiiSubspDelbrueckiiStep)" max="@UserGutProbiotics.Consts.LactobacillusDelbrueckiiSubspDelbrueckiiMax" step="@UserGutProbiotics.Consts.LactobacillusDelbrueckiiSubspDelbrueckiiStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusDelbrueckiiSubspDelbrueckii)).value = this.valueAsNumber < @UserGutProbiotics.Consts.LactobacillusDelbrueckiiSubspDelbrueckiiMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.LactobacillusDelbrueckiiSubspDelbrueckii))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.LactobacillusDelbrueckiiSubspDelbrueckii)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.LactobacillusFermentum)</label>
                            <div><span asp-validation-for="UserMood.LactobacillusFermentum" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusFermentum))" asp-for="UserMood.LactobacillusFermentum" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusFermentum))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusFermentum))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.LactobacillusFermentum))Input" list="hashmarks" value="@(Model.UserMood.LactobacillusFermentum ?? -1)"
                                           min="@(UserGutProbiotics.Consts.LactobacillusFermentumMin - UserGutProbiotics.Consts.LactobacillusFermentumStep)" max="@UserGutProbiotics.Consts.LactobacillusFermentumMax" step="@UserGutProbiotics.Consts.LactobacillusFermentumStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusFermentum)).value = this.valueAsNumber < @UserGutProbiotics.Consts.LactobacillusFermentumMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.LactobacillusFermentum))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.LactobacillusFermentum)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.LactobacillusGasseri)</label>
                            <div><span asp-validation-for="UserMood.LactobacillusGasseri" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusGasseri))" asp-for="UserMood.LactobacillusGasseri" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusGasseri))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusGasseri))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.LactobacillusGasseri))Input" list="hashmarks" value="@(Model.UserMood.LactobacillusGasseri ?? -1)"
                                           min="@(UserGutProbiotics.Consts.LactobacillusGasseriMin - UserGutProbiotics.Consts.LactobacillusGasseriStep)" max="@UserGutProbiotics.Consts.LactobacillusGasseriMax" step="@UserGutProbiotics.Consts.LactobacillusGasseriStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusGasseri)).value = this.valueAsNumber < @UserGutProbiotics.Consts.LactobacillusGasseriMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.LactobacillusGasseri))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.LactobacillusGasseri)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.LactobacillusHelveticus)</label>
                            <div><span asp-validation-for="UserMood.LactobacillusHelveticus" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusHelveticus))" asp-for="UserMood.LactobacillusHelveticus" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusHelveticus))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusHelveticus))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.LactobacillusHelveticus))Input" list="hashmarks" value="@(Model.UserMood.LactobacillusHelveticus ?? -1)"
                                           min="@(UserGutProbiotics.Consts.LactobacillusHelveticusMin - UserGutProbiotics.Consts.LactobacillusHelveticusStep)" max="@UserGutProbiotics.Consts.LactobacillusHelveticusMax" step="@UserGutProbiotics.Consts.LactobacillusHelveticusStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusHelveticus)).value = this.valueAsNumber < @UserGutProbiotics.Consts.LactobacillusHelveticusMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.LactobacillusHelveticus))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.LactobacillusHelveticus)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.LactobacillusParacasei)</label>
                            <div><span asp-validation-for="UserMood.LactobacillusParacasei" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusParacasei))" asp-for="UserMood.LactobacillusParacasei" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusParacasei))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusParacasei))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.LactobacillusParacasei))Input" list="hashmarks" value="@(Model.UserMood.LactobacillusParacasei ?? -1)"
                                           min="@(UserGutProbiotics.Consts.LactobacillusParacaseiMin - UserGutProbiotics.Consts.LactobacillusParacaseiStep)" max="@UserGutProbiotics.Consts.LactobacillusParacaseiMax" step="@UserGutProbiotics.Consts.LactobacillusParacaseiStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusParacasei)).value = this.valueAsNumber < @UserGutProbiotics.Consts.LactobacillusParacaseiMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.LactobacillusParacasei))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.LactobacillusParacasei)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.LactobacillusPlantarum)</label>
                            <div><span asp-validation-for="UserMood.LactobacillusPlantarum" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusPlantarum))" asp-for="UserMood.LactobacillusPlantarum" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusPlantarum))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusPlantarum))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.LactobacillusPlantarum))Input" list="hashmarks" value="@(Model.UserMood.LactobacillusPlantarum ?? -1)"
                                           min="@(UserGutProbiotics.Consts.LactobacillusPlantarumMin - UserGutProbiotics.Consts.LactobacillusPlantarumStep)" max="@UserGutProbiotics.Consts.LactobacillusPlantarumMax" step="@UserGutProbiotics.Consts.LactobacillusPlantarumStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusPlantarum)).value = this.valueAsNumber < @UserGutProbiotics.Consts.LactobacillusPlantarumMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.LactobacillusPlantarum))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.LactobacillusPlantarum)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.LactobacillusReuteri)</label>
                            <div><span asp-validation-for="UserMood.LactobacillusReuteri" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusReuteri))" asp-for="UserMood.LactobacillusReuteri" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusReuteri))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusReuteri))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.LactobacillusReuteri))Input" list="hashmarks" value="@(Model.UserMood.LactobacillusReuteri ?? -1)"
                                           min="@(UserGutProbiotics.Consts.LactobacillusReuteriMin - UserGutProbiotics.Consts.LactobacillusReuteriStep)" max="@UserGutProbiotics.Consts.LactobacillusReuteriMax" step="@UserGutProbiotics.Consts.LactobacillusReuteriStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusReuteri)).value = this.valueAsNumber < @UserGutProbiotics.Consts.LactobacillusReuteriMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.LactobacillusReuteri))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.LactobacillusReuteri)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.LactobacillusRhamnosus)</label>
                            <div><span asp-validation-for="UserMood.LactobacillusRhamnosus" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusRhamnosus))" asp-for="UserMood.LactobacillusRhamnosus" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusRhamnosus))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusRhamnosus))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.LactobacillusRhamnosus))Input" list="hashmarks" value="@(Model.UserMood.LactobacillusRhamnosus ?? -1)"
                                           min="@(UserGutProbiotics.Consts.LactobacillusRhamnosusMin - UserGutProbiotics.Consts.LactobacillusRhamnosusStep)" max="@UserGutProbiotics.Consts.LactobacillusRhamnosusMax" step="@UserGutProbiotics.Consts.LactobacillusRhamnosusStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusRhamnosus)).value = this.valueAsNumber < @UserGutProbiotics.Consts.LactobacillusRhamnosusMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.LactobacillusRhamnosus))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.LactobacillusRhamnosus)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.LactobacillusSalivarius)</label>
                            <div><span asp-validation-for="UserMood.LactobacillusSalivarius" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusSalivarius))" asp-for="UserMood.LactobacillusSalivarius" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusSalivarius))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.LactobacillusSalivarius))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.LactobacillusSalivarius))Input" list="hashmarks" value="@(Model.UserMood.LactobacillusSalivarius ?? -1)"
                                           min="@(UserGutProbiotics.Consts.LactobacillusSalivariusMin - UserGutProbiotics.Consts.LactobacillusSalivariusStep)" max="@UserGutProbiotics.Consts.LactobacillusSalivariusMax" step="@UserGutProbiotics.Consts.LactobacillusSalivariusStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.LactobacillusSalivarius)).value = this.valueAsNumber < @UserGutProbiotics.Consts.LactobacillusSalivariusMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.LactobacillusSalivarius))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.LactobacillusSalivarius)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.LactococcusLactis)</label>
                            <div><span asp-validation-for="UserMood.LactococcusLactis" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.LactococcusLactis))" asp-for="UserMood.LactococcusLactis" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.LactococcusLactis))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.LactococcusLactis))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.LactococcusLactis))Input" list="hashmarks" value="@(Model.UserMood.LactococcusLactis ?? -1)"
                                           min="@(UserGutProbiotics.Consts.LactococcusLactisMin - UserGutProbiotics.Consts.LactococcusLactisStep)" max="@UserGutProbiotics.Consts.LactococcusLactisMax" step="@UserGutProbiotics.Consts.LactococcusLactisStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.LactococcusLactis)).value = this.valueAsNumber < @UserGutProbiotics.Consts.LactococcusLactisMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.LactococcusLactis))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.LactococcusLactis)</div>
                        </div>



                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.PropionibacteriumFreudenreichii)</label>
                            <div><span asp-validation-for="UserMood.PropionibacteriumFreudenreichii" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.PropionibacteriumFreudenreichii))" asp-for="UserMood.PropionibacteriumFreudenreichii" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.PropionibacteriumFreudenreichii))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.PropionibacteriumFreudenreichii))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.PropionibacteriumFreudenreichii))Input" list="hashmarks" value="@(Model.UserMood.PropionibacteriumFreudenreichii ?? -1)"
                                           min="@(UserGutProbiotics.Consts.PropionibacteriumFreudenreichiiMin - UserGutProbiotics.Consts.PropionibacteriumFreudenreichiiStep)" max="@UserGutProbiotics.Consts.PropionibacteriumFreudenreichiiMax" step="@UserGutProbiotics.Consts.PropionibacteriumFreudenreichiiStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.PropionibacteriumFreudenreichii)).value = this.valueAsNumber < @UserGutProbiotics.Consts.PropionibacteriumFreudenreichiiMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.PropionibacteriumFreudenreichii))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.PropionibacteriumFreudenreichii)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.StreptococcusSalivarius)</label>
                            <div><span asp-validation-for="UserMood.StreptococcusSalivarius" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.StreptococcusSalivarius))" asp-for="UserMood.StreptococcusSalivarius" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.StreptococcusSalivarius))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.StreptococcusSalivarius))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.StreptococcusSalivarius))Input" list="hashmarks" value="@(Model.UserMood.StreptococcusSalivarius ?? -1)"
                                           min="@(UserGutProbiotics.Consts.StreptococcusSalivariusMin - UserGutProbiotics.Consts.StreptococcusSalivariusStep)" max="@UserGutProbiotics.Consts.StreptococcusSalivariusMax" step="@UserGutProbiotics.Consts.StreptococcusSalivariusStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.StreptococcusSalivarius)).value = this.valueAsNumber < @UserGutProbiotics.Consts.StreptococcusSalivariusMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.StreptococcusSalivarius))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.StreptococcusSalivarius)</div>
                        </div>

                        <div class="mb-3 mt-3">
                            <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.StreptococcusThermophilus)</label>
                            <div><span asp-validation-for="UserMood.StreptococcusThermophilus" class="text-danger"></span></div>
                            <div style="display:flex;column-gap:1ex;">
                                <input id="@(Html.IdFor(_ => Model.UserMood.StreptococcusThermophilus))" asp-for="UserMood.StreptococcusThermophilus" style="width:6ch;height:fit-content;" class="allow-demo"
                                       oninput="@(Html.IdFor(_ => Model.UserMood.StreptococcusThermophilus))Input.value = this.valueAsNumber" />
                                <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                                    <input id="@(Html.IdFor(_ => Model.UserMood.StreptococcusThermophilus))-input" class="allow-demo" style="width:100%;" type="range"
                                           name="@(Html.IdFor(_ => Model.UserMood.StreptococcusThermophilus))Input" list="hashmarks" value="@(Model.UserMood.StreptococcusThermophilus ?? -1)"
                                           min="@(UserGutProbiotics.Consts.StreptococcusThermophilusMin - UserGutProbiotics.Consts.StreptococcusThermophilusStep)" max="@UserGutProbiotics.Consts.StreptococcusThermophilusMax" step="@UserGutProbiotics.Consts.StreptococcusThermophilusStep"
                                           oninput="@(Html.IdFor(_ => Model.UserMood.StreptococcusThermophilus)).value = this.valueAsNumber < @UserGutProbiotics.Consts.StreptococcusThermophilusMin ? '' : this.valueAsNumber" />

                                    <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                        <option value=""></option>
                                        <option value="25"></option>
                                        <option value="50"></option>
                                        <option value="75"></option>
                                        <option value="100"></option>
                                    </datalist>
                                </div>
                            </div>
                            <div id="@(Html.IdFor(_ => Model.UserMood.StreptococcusThermophilus))-help" class="form-text">@Html.DisplayDescriptionFor(_ => Model.UserMood.StreptococcusThermophilus)</div>
                        </div>


                        <div>
                            <input type="submit" value="Save" class="btn btn-primary allow-demo" />
                        </div>
                    </form>
                </div>
            </div>
        }

        <div class="col-lg-6">
            <h6 class="mb-1">Log</h6>
            <div class="alert alert-light shadow">
                @{
                    await Html.RenderPartialAsync("_LineChart", new LineChartViewModel()
                    {
                        XysGrouped = Model.XysGrouped,
                        User = Model.User,
                        Token = Model.Token,
                        Type = Core.Models.Components.Component.GutProbiotics
                    });
                }
            </div>
        </div>
    </div>
