@model ActivityViewModel
@using Core.Models.Exercise
@using Data.Entities.User
@using Lib.Pages.Shared.Exercise

<h6 class="mb-1">Activities</h6>
<div class="alert alert-light shadow">
    <details>
        <summary>
            @{
                await Html.RenderPartialAsync("_RadarChart", new Web.ViewModels.Shared.RadarChartViewModel()
                {
                    XysGrouped = Model.XysGrouped
                });
            }
        </summary>

        <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.ManageActivity)" method="post"
                asp-route-email="@Model.User.Email" asp-route-token="@Model.Token"
                style="min-height:21ch;">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                @for (var i = 0; i < Model.Customs.Count; i++)
                {
                    <div class="form-check">
                        <input class="allow-demo" type="hidden" asp-for="@Model.Customs[i].Id" />
                        <input class="allow-demo" type="hidden" asp-for="@Model.Customs[i].Name" />
                        <input id="@Html.IdFor(_ => Model.Customs[i].Selected)-activity" asp-for="@Model.Customs[i].Selected" class="form-check-input allow-demo" type="checkbox">
                        <label for="@Html.IdFor(_ => Model.Customs[i].Selected)-activity" class="form-check-label">
                            @Model.Customs[i].Name
                        </label>
                    </div>
                }
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary allow-demo" />
            </div>
        </form>
    </details>
</div>
