@model PanicSeverityViewModel
@using Core.Models.Exercise
@using Data.Entities.User
@using Lib.Pages.Shared.Exercise

@{
    bool show = Model.PreviousMood == null || Model.PreviousMood.Date < DateHelpers.Today.AddDays(-7);
}

<h5 class="mb-1">APA DSM-5 TR Severity Measure for Panic Disorder—Adult</h5>
<div class="alert alert-light shadow">
    @if (!show) 
    {
        await Html.RenderPartialAsync("_ScoreChart", new Web.ViewModels.Shared.ScoreChartViewModel()
        {
            Scores = Model.Xys,
            User = Model.User,
            Token = Model.Token,
            Type = Components.PanicSeverity
        });
    }
    else
    {
        <details>
            <summary>
                @{
                    await Html.RenderPartialAsync("_ScoreChart", new Web.ViewModels.Shared.ScoreChartViewModel()
                    {
                        Scores = Model.Xys,
                        User = Model.User,
                        Token = Model.Token,
                        Type = Components.PanicSeverity
                    });
                }
            </summary>

            <p>
                Instructions: The following questions ask about thoughts, feelings, and behaviors about panic attacks. A panic
                attack is an episode of intense fear that sometimes comes out of the blue (for no apparent reason). The
                symptoms of a panic attack include: a racing heart, shortness of breath, dizziness, sweating, and fear of losing
                control or dying. Please respond to each item by marking ( or x) one box per row.
            </p>
            <h3>During the PAST 7 DAYS, I have…</h3>

            <form asp-controller="@UserController.Name" asp-action="@nameof(UserController.ManagePanicSeverity)" method="post"
                  asp-route-email="@Model.User.Email" asp-route-token="@Model.Token">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.SuddenTerror)</label>
                    <div><span asp-validation-for="UserMood.SuddenTerror" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.SuddenTerror))" type="hidden" asp-for="UserMood.SuddenTerror" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.SuddenTerror))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.SuddenTerror))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.SuddenTerror))-input"
                                   min="-1" max="4" step="1" value="@(Model.UserMood.SuddenTerror ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.SuddenTerror)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>

                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.SuddenTerror))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.SuddenTerror))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.SuddenTerror))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.SuddenTerror))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(20% - .5ch)">Never</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.SuddenTerror))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.SuddenTerror))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(40% - .5ch)">Occasionally</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.SuddenTerror))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.SuddenTerror))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(60% - .5ch)">Half of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.SuddenTerror))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.SuddenTerror))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(80% - .5ch)">Most of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.SuddenTerror))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.SuddenTerror))-input').value = this.dataset.value" data-value="4" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;right:-2.5ch">All of the time</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.SuddenTerror))-help" class="form-text"></div>
                </div>

                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.Nervous)</label>
                    <div><span asp-validation-for="UserMood.Nervous" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.Nervous))" type="hidden" asp-for="UserMood.Nervous" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.Nervous))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.Nervous))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.Nervous))-input"
                                   min="-1" max="4" step="1" value="@(Model.UserMood.Nervous ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.Nervous)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>

                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Nervous))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.Nervous))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Nervous))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Nervous))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(20% - .5ch)">Never</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Nervous))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Nervous))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(40% - .5ch)">Occasionally</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Nervous))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Nervous))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(60% - .5ch)">Half of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Nervous))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Nervous))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(80% - .5ch)">Most of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Nervous))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Nervous))-input').value = this.dataset.value" data-value="4" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;right:-2.5ch">All of the time</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.Nervous))-help" class="form-text"></div>
                </div>



                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.LosingControl)</label>
                    <div><span asp-validation-for="UserMood.LosingControl" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.LosingControl))" type="hidden" asp-for="UserMood.LosingControl" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.LosingControl))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.LosingControl))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.LosingControl))-input"
                                   min="-1" max="4" step="1" value="@(Model.UserMood.LosingControl ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.LosingControl)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>

                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.LosingControl))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.LosingControl))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.LosingControl))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.LosingControl))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(20% - .5ch)">Never</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.LosingControl))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.LosingControl))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(40% - .5ch)">Occasionally</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.LosingControl))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.LosingControl))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(60% - .5ch)">Half of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.LosingControl))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.LosingControl))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(80% - .5ch)">Most of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.LosingControl))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.LosingControl))-input').value = this.dataset.value" data-value="4" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;right:-2.5ch">All of the time</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.LosingControl))-help" class="form-text"></div>
                </div>



                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.Heart)</label>
                    <div><span asp-validation-for="UserMood.Heart" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.Heart))" type="hidden" asp-for="UserMood.Heart" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.Heart))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.Heart))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.Heart))-input"
                                   min="-1" max="4" step="1" value="@(Model.UserMood.Heart ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.Heart)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>

                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Heart))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.Heart))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Heart))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Heart))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(20% - .5ch)">Never</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Heart))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Heart))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(40% - .5ch)">Occasionally</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Heart))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Heart))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(60% - .5ch)">Half of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Heart))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Heart))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(80% - .5ch)">Most of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Heart))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Heart))-input').value = this.dataset.value" data-value="4" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;right:-2.5ch">All of the time</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.Heart))-help" class="form-text"></div>
                </div>



                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.Tense)</label>
                    <div><span asp-validation-for="UserMood.Tense" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.Tense))" type="hidden" asp-for="UserMood.Tense" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.Tense))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.Tense))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.Tense))-input"
                                   min="-1" max="4" step="1" value="@(Model.UserMood.Tense ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.Tense)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>

                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Tense))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.Tense))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Tense))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Tense))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(20% - .5ch)">Never</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Tense))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Tense))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(40% - .5ch)">Occasionally</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Tense))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Tense))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(60% - .5ch)">Half of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Tense))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Tense))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(80% - .5ch)">Most of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Tense))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Tense))-input').value = this.dataset.value" data-value="4" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;right:-2.5ch">All of the time</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.Tense))-help" class="form-text"></div>
                </div>



                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.Avoided)</label>
                    <div><span asp-validation-for="UserMood.Avoided" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.Avoided))" type="hidden" asp-for="UserMood.Avoided" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.Avoided))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.Avoided))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.Avoided))-input"
                                   min="-1" max="4" step="1" value="@(Model.UserMood.Avoided ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.Avoided)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>

                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Avoided))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.Avoided))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Avoided))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Avoided))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(20% - .5ch)">Never</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Avoided))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Avoided))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(40% - .5ch)">Occasionally</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Avoided))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Avoided))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(60% - .5ch)">Half of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Avoided))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Avoided))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(80% - .5ch)">Most of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Avoided))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Avoided))-input').value = this.dataset.value" data-value="4" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;right:-2.5ch">All of the time</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.Avoided))-help" class="form-text"></div>
                </div>



                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.LeftEarly)</label>
                    <div><span asp-validation-for="UserMood.LeftEarly" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.LeftEarly))" type="hidden" asp-for="UserMood.LeftEarly" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.LeftEarly))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.LeftEarly))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.LeftEarly))-input"
                                   min="-1" max="4" step="1" value="@(Model.UserMood.LeftEarly ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.LeftEarly)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>

                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.LeftEarly))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.LeftEarly))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.LeftEarly))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.LeftEarly))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(20% - .5ch)">Never</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.LeftEarly))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.LeftEarly))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(40% - .5ch)">Occasionally</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.LeftEarly))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.LeftEarly))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(60% - .5ch)">Half of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.LeftEarly))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.LeftEarly))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(80% - .5ch)">Most of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.LeftEarly))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.LeftEarly))-input').value = this.dataset.value" data-value="4" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;right:-2.5ch">All of the time</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.LeftEarly))-help" class="form-text"></div>
                </div>


                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.Preparing)</label>
                    <div><span asp-validation-for="UserMood.Preparing" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.Preparing))" type="hidden" asp-for="UserMood.Preparing" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.Preparing))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.Preparing))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.Preparing))-input"
                                   min="-1" max="4" step="1" value="@(Model.UserMood.Preparing ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.Preparing)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>

                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Preparing))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.Preparing))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Preparing))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Preparing))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(20% - .5ch)">Never</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Preparing))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Preparing))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(40% - .5ch)">Occasionally</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Preparing))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Preparing))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(60% - .5ch)">Half of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Preparing))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Preparing))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(80% - .5ch)">Most of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Preparing))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Preparing))-input').value = this.dataset.value" data-value="4" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;right:-2.5ch">All of the time</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.Preparing))-help" class="form-text"></div>
                </div>

                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.DistractedMyself)</label>
                    <div><span asp-validation-for="UserMood.DistractedMyself" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.DistractedMyself))" type="hidden" asp-for="UserMood.DistractedMyself" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.DistractedMyself))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.DistractedMyself))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.DistractedMyself))-input"
                                   min="-1" max="4" step="1" value="@(Model.UserMood.DistractedMyself ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.DistractedMyself)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>

                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.DistractedMyself))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.DistractedMyself))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.DistractedMyself))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.DistractedMyself))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(20% - .5ch)">Never</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.DistractedMyself))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.DistractedMyself))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(40% - .5ch)">Occasionally</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.DistractedMyself))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.DistractedMyself))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(60% - .5ch)">Half of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.DistractedMyself))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.DistractedMyself))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(80% - .5ch)">Most of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.DistractedMyself))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.DistractedMyself))-input').value = this.dataset.value" data-value="4" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;right:-2.5ch">All of the time</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.DistractedMyself))-help" class="form-text"></div>
                </div>

                <div class="form-group mb-3 mt-3" style="padding-bottom:10ch;">
                    <label class="control-label">@Html.DisplayNameFor(_ => Model.UserMood.Cope)</label>
                    <div><span asp-validation-for="UserMood.Cope" class="text-danger"></span></div>
                    <div style="display:flex;column-gap:1ex;">
                        <input id="@(Html.IdFor(_ => Model.UserMood.Cope))" type="hidden" asp-for="UserMood.Cope" style="width:6ch;height:fit-content;" class="allow-demo"
                               oninput="@(Html.IdFor(_ => Model.UserMood.Cope))Input.value = this.valueAsNumber" />
                        <div style="width:100%;display:flex;flex-direction:column;justify-content:center;">
                            <input type="range" style="width:100%;" class="allow-demo"
                                   name="@(Html.IdFor(_ => Model.UserMood.Cope))Input" list="hashmarks" id="@(Html.IdFor(_ => Model.UserMood.Cope))-input"
                                   min="-1" max="4" step="1" value="@(Model.UserMood.Cope ?? -1)"
                                   oninput="@(Html.IdFor(_ => Model.UserMood.Cope)).value = this.valueAsNumber < 0 ? '' : this.valueAsNumber" />

                            <datalist id="hashmarks" style="display:flex;flex-direction:column;writing-mode:vertical-lr;width:calc(100% - 2ch);position:relative;">
                                <option value=""></option>
                                <option value="1"></option>
                                <option value="2"></option>
                                <option value="3"></option>
                                <option value="4"></option>
                                <option value="5"></option>

                                <!-- These need to be separate from the <option> elements because those have their position attribute overriden (from absolute to static) on Firefox -->
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Cope))').value = ''; document.getElementById('@(Html.IdFor(_ => Model.UserMood.Cope))-input').value = this.dataset.value" data-value="-1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(0% - .5ch)">N.A.</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Cope))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Cope))-input').value = this.dataset.value" data-value="0" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(20% - .5ch)">Never</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Cope))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Cope))-input').value = this.dataset.value" data-value="1" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(40% - .5ch)">Occasionally</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Cope))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Cope))-input').value = this.dataset.value" data-value="2" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(60% - .5ch)">Half of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Cope))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Cope))-input').value = this.dataset.value" data-value="3" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;left:calc(80% - .5ch)">Most of the time</div>
                                <div onclick="document.getElementById('@(Html.IdFor(_ => Model.UserMood.Cope))').value = document.getElementById('@(Html.IdFor(_ => Model.UserMood.Cope))-input').value = this.dataset.value" data-value="4" style="white-space:nowrap;text-decoration:underline;cursor:pointer;position:absolute;right:-2.5ch">All of the time</div>
                            </datalist>
                        </div>
                    </div>
                    <div id="@(Html.IdFor(_ => Model.UserMood.Cope))-help" class="form-text"></div>
                </div>


                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary allow-demo" />
                </div>
            </form>
        </details>
    }
</div>
